<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<meta content="telephone=no" name="format-detection" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
<title>{$content[title]}_{$books.book_name}-{:C('webname')}</title>
<link rel="shortcut icon" href="__PUBLIC__/Wap/images/Favicon.ico" type="image/x-icon" />
<meta name="keywords" content="{$content[title]},{$books.book_name},{:C('webname')}" />
<meta name="description" content="{$books.book_name}小说由作者：{$user.pen_name}原创,是难得一见的好书,在{:C('webname')}全面连载!欢迎大家免费收看:{$content[title]}" />

    <link href="__PUBLIC__/Wap/css/reset.css" type="text/css" rel="stylesheet" />
    <link href="__PUBLIC__/Wap/css/read.css" type="text/css" rel="stylesheet" />
    <link href="__PUBLIC__/Wap/css/style.css" type="text/css" rel="stylesheet" />

    <script type="text/javascript" src="__PUBLIC__/Wap/js/jquery.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Wap/js/jquery.cookie.js"></script>
 <script type="text/javascript">
$(function () {
    var booksname="{$books.book_name}";
    var art_title = "{$content[title]}";
    var art_url = document.URL;
    $.cookie("history", "{title:\""+booksname +":"+ art_title + "\""+",url:\"" + art_url + "\"}", {expires: 7, path: '/'});
});

 </script>
</head>
<body>
<include file="Index:top" />
<div id="box">
<div class="main">
    <div class="main-top">
      <div>收费章节</div>
    </div>
      <div class="xinxi">
          <span><font color="red"><b>{$content[title]}</b></font></span><br/>
          <span>发布时间：</span>{$content[time]}<br/>
          <span>章节字数：</span>{$content[number]}<br/>
          <span>本章价格：</span><em class="count">{$content.the_price}</em> 阅读币<br/>
          <span><font color="blue">阅读币不足请充值。</font></span><br/>
      </div>
    <a class="anniu-btn"  href="/Home/Pay/index.html">点击充值</a>
  </div>  
</div>
<include file="Index:bot"/>
</body>
</html>
